<body>
<p id="notice" ><%= notice %> 
></p>



<div class="musee-wrapper">
<h1>Le musée de l'amour</h1>
<h2> Lucie CANTON </h2>
<% @arts.each do |art| %>


    <div class="card" >
      <img src="<%= art.photo %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" ><%= art.tittle %></h5>
        <h6 class="card-text"><%= art.author %></h6>
        <h6 href="#" class="btn btn-primary"><%= link_to 'Show', art %></h6>
      </div>
    </div>

 <%end%>
 </div>
</div>



<%= link_to 'New Art', new_art_path %>

</center>
</body>
